body {
    width: 100%;
    font-family: 'lato', sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}

.wiersz {
    background-color: #fac4c9;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    margin-top: 70px;
    border: 1px solid black;
}

h1 {
    font-size: 45px;
    font-weight: 800;
    font-style: italic;
}